/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
  background-color: #f2f2ed;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset*/
header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}
h1.App-title {
  color: #5d8682;
  letter-spacing: 0.1em;
  text-shadow: 3px 0#BBC7A0;
}

h3 {
  font-size: 22px;
  margin: 10px 0 0;
}
.app {
  margin: 50px;
  font: 14px sans-serif;
}
.ib {
  display: inline-block;
}
.page {
  width: 80%;
  height: auto;
}
.user {
  /* width: 18%; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: top;
}
.user p {
  height: auto;
  width: auto;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.2rem;
  box-sizing: border-box;
  line-height: 2rem;
  color: #5d8682;
  text-shadow: 3px 0#BBC7A0;
}
main {
  width: 100%;
  height: 10rem;
  display: flex;
}
.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  outline: 0;
  padding: 0 2rem;
  margin: 0.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background-color: #5d8682;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #bbc7a0;
  color: #50691e;
}
.page-column {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  color: #5d8682;
}
.page-photo {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 0.1rem;
}
.photos-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #5d8682;
}
